:root {
    color-scheme: light dark;
    --color-bg: #313131;
    --color-fg: #eeeeee;
    --primary: #237323; /*#9647d5;*/
    --primary-dark: #155015; /* #8820d8;*/
    --primary-darker: #0f390f; /*#7d07d8;*/
    --primary-color: #eeeeee;

}

@media (prefers-color-scheme: dark) {

    button:hover,
    .button:hover {
        background-color: var(--primary-dark);
        border: 1px solid var(--primary-darker);
        color: var(--primary-color);
    }

    .alt {
        background-color: transparent;
        border: 1px solid var(--primary-dark);
        color: #333;
    }

    .alt:hover {
        background-color: transparent;
        border: 1px solid var(--primary-darker);
        color: #131313;;
    }

    .pagination {
        display: inline-block;
        margin: 1em 0;
    }

    .pagination a {
        color: var(--color-fg);
        float: left;
        padding: 8px 16px;
        text-decoration: none;
        border: 1px solid #ddd;
    }

    .pagination a.active {
        background-color: var(--primary);
        color: white;
        border: 1px solid var(--primary);
    }

    .pagination a:hover:not(.active) {
        background-color: #ddd;
        color: var(--color-bg)
    }

    .pagination a:first-child {
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }

    .pagination a:last-child {
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
    }

    table {
        /*border-collapse: collapse;*/
        width: 100%;
        border: var(--primary-color);
    }

    th {
        background-color: var(--primary-dark);
        color: var(--primary-color);
        font-style: normal;


    }

    th {
        .label {
            margin: 0;
        }


    }

    th,
    td {
        border: 1px var(--primary-darker) solid;
        padding: 0.7em;
    }

    td:hover {
        cursor: auto;
    }

    tr:hover,
    tr:nth-child(odd):hover {
        background-color: #fbfbde;
        color: #1a1a1a;
    }

    tr:nth-child(odd) {
        background-color: #454242;
        color: var(--color-fg);
    }

    #modal-container {
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        position: fixed;
        z-index: -3;
        display: flex;
        align-items: flex-start;
        justify-content: center;
    }

    .modal {
        width: 90%;
        max-width: 570px;
        z-index: -4;
        background-color: #6c6868;
        opacity: 0;
        position: relative;
        margin-top: -160px;
        transition: 0.3s;
    }

    .modal-body h5 {
        margin: 0 auto;
        text-align: center;
        font-size: 18px;
        font-weight: bold;
    }

    #delete-modal p:nth-child(1) {
        margin: 0;
        font-size: 18px;
        font-weight: bold;
    }

    .modal p:nth-child(3) {
        margin: 0;
    }

    .modal-heading {
        font-size: 1.2em;
        background-color: var(--primary);
        padding: 12px;
        color: var(--primary-color);
        border: 1px solid var(--primary-darker);
        text-transform: uppercase;
    }

    .modal-footer {
        font-size: 1.2em;
        background-color: #eee;
        padding: 12px;
        color: #555;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        border-top: 1px #ccc solid;
    }

    .modal-footer button {
        margin: 6px 0 0 0.3em;
        font-size: 16px;
    }

    .modal-footer button.alt {
        background-color: #fefefe;
    }

    .modal-danger {
        background-color: red !important;
        border: 1px #990000 solid;
    }

    .modal-body {
        padding: 20px;
    }

    .modal textarea {
        font: inherit;
        font-size: 15px;
        margin: 0;
        overflow: auto;
        padding: 8px;
        display: block;
        border: 1px solid #ccc !important;
        color: #000 !important;
        background-color: #fdf5e6 !important;
        min-height: 7em;
        resize: none;
        line-height: 1.5em;
    }
}

@media (prefers-color-scheme: light) {
    :root {
        --color-bg: #f8f7f7;
        --color-fg: #1E1D1DFF;
    }

    button:hover,
    .button:hover {
        background-color: var(--primary-dark);
        border: 1px solid var(--primary-darker);
        color: var(--primary-color);
    }

    .alt {
        background-color: transparent;
        border: 1px solid var(--primary);
        color: #333;
    }

    .alt:hover {
        background-color: transparent;
        border: 1px solid var(--primary);
        color: var(--primary);
    }

    .pagination {
        display: inline-block;
        margin: 1em 0;
    }

    .pagination a {
        color: black;
        float: left;
        padding: 8px 16px;
        text-decoration: none;
        border: 1px solid #ddd;
    }

    .pagination a.active {
        background-color: var(--primary);
        color: white;
        border: 1px solid var(--primary);
    }

    .pagination a:hover:not(.active) {
        background-color: #ddd;
    }

    .pagination a:first-child {
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }

    .pagination a:last-child {
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
    }

    pre {
        max-width: 100%;
        overflow: auto;
        background-color: #393838 !important;
        border-color: #6b6b6b !important;
        border-radius: 6px;
        color: #f1e4e4 !important;
        text-shadow: 0 1px 0 #444444 !important;
        white-space: pre-wrap;
        padding: 1em 1em;
    }

    table {
        border-collapse: collapse;
        width: 100%;
    }

    th {
        background-color: var(--primary);
        color: var(--primary-color);
    }

    th,
    td {
        border: 1px var(--primary-darker) solid;
        padding: 0.7em;
    }

    td:hover {
        cursor: auto;
    }

    tr:hover,
    tr:nth-child(odd):hover {
        background-color: #fdfdea;
    }

    tr:nth-child(odd) {
        background-color: #f3f3f3;

    }

    #modal-container {
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        position: fixed;
        z-index: -3;
        display: flex;
        align-items: flex-start;
        justify-content: center;
    }

    .modal {
        width: 90%;
        max-width: 570px;
        z-index: -4;
        background-color: white;
        opacity: 0;
        position: relative;
        margin-top: -160px;
        transition: 0.3s;
    }

    .modal-body h5 {
        margin: 0 auto;
        text-align: center;
        font-size: 18px;
        font-weight: bold;
    }

    #delete-modal p:nth-child(1) {
        margin: 0;
        font-size: 18px;
        font-weight: bold;
    }

    .modal p:nth-child(3) {
        margin: 0;
    }

    .modal-heading {
        font-size: 1.2em;
        background-color: var(--primary);
        padding: 12px;
        color: var(--primary-color);
        border: 1px solid var(--primary-darker);
        text-transform: uppercase;
    }

    .modal-footer {
        font-size: 1.2em;
        background-color: #eee;
        padding: 12px;
        color: #555;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        border-top: 1px #ccc solid;
    }

    .modal-footer button {
        margin: 6px 0 0 0.3em;
        font-size: 16px;
    }

    .modal-footer button.alt {
        background-color: #fefefe;
    }

    .modal-danger {
        background-color: red !important;
        border: 1px #990000 solid;
    }

    .modal-body {
        padding: 20px;
    }

    .modal textarea {
        font: inherit;
        font-size: 15px;
        margin: 0;
        overflow: auto;
        padding: 8px;
        display: block;
        border: 1px solid #ccc !important;
        color: #000 !important;
        background-color: #fdf5e6 !important;
        min-height: 7em;
        resize: none;
        line-height: 1.5em;
    }


}

body {
    background-color: var(--color-bg);
    color: var(--color-fg);
}

figcaption {
    margin-top: 20px;
    text-align: center !important;
}


h1 {
    color: var(--color-fg);
}

h2 {
    color: var(--color-fg);
}

h3 {
    color: var(--color-fg);
}

h4 {
    color: var(--color-fg);
}

h {
    color: var(--color-fg);
}

h {
    color: var(--color-fg);
}

img {
    filter: brightness(.8) contrast(1.2);
}

p {
    color: var(--color-fg);
}

div {
    color: var(--color-fg);
}

picture {
    margin-top: 50px;
    align-content: center;
}


pre {
    max-width: 100%;
    overflow: auto;
    background-color: #c6c4c4 !important;
    border-color: #b1abab !important;
    border-radius: 6px;
    color: #292828 !important;
    /*text-shadow: 0 1px 0 #444444 !important;*/
    white-space: pre-wrap;
    padding: 1em 1em;
}

